@import 'src/common/styles/mixins';

.container {
  @include flex(column, space-between, center);
/*  width: 70vw;
  margin: 0 15vw;
  height: 100vh;
  box-sizing: border-box;
  font-size: 20px;*/
}

